USE [master]
GO
/****** Object:  Database [Db_TravellerReservation]    Script Date: 9/16/2024 11:04:34 PM ******/
CREATE DATABASE [Db_TravellerReservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_TravellerReservation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_TravellerReservation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_TravellerReservation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_TravellerReservation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_TravellerReservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_TravellerReservation]
GO
/****** Object:  Table [dbo].[TblDrivers]    Script Date: 9/16/2024 11:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDrivers](
	[driverId] [smallint] IDENTITY(1,1) NOT NULL,
	[driverNameAndSurname] [varchar](50) NULL,
	[driverPhone] [varchar](20) NULL,
	[driverNo] [char](4) NULL,
 CONSTRAINT [PK_TblDrivers] PRIMARY KEY CLUSTERED 
(
	[driverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOperations]    Script Date: 9/16/2024 11:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOperations](
	[operationId] [int] IDENTITY(1,1) NOT NULL,
	[voyage] [int] NULL,
	[personIdentityNo] [char](11) NULL,
	[seatNo] [char](2) NULL,
 CONSTRAINT [PK_TblOperations] PRIMARY KEY CLUSTERED 
(
	[operationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPersons]    Script Date: 9/16/2024 11:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPersons](
	[porsonId] [int] IDENTITY(1,1) NOT NULL,
	[porsonName] [varchar](20) NULL,
	[porsonSurname] [varchar](20) NULL,
	[porsonIdentityNo] [char](11) NULL,
	[porsonPhone] [varchar](15) NULL,
	[porsonMail] [varchar](50) NULL,
	[porsonGender] [bit] NULL,
 CONSTRAINT [PK_TblPersons] PRIMARY KEY CLUSTERED 
(
	[porsonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblVoyages]    Script Date: 9/16/2024 11:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblVoyages](
	[voyageId] [int] IDENTITY(1000,1) NOT NULL,
	[voyageDeparture] [varchar](20) NULL,
	[voyageArrival] [varchar](20) NULL,
	[voyageDate] [varchar](10) NULL,
	[voyageHour] [char](5) NULL,
	[voyageDriver] [char](4) NULL,
	[ticketPreis] [smallint] NULL,
 CONSTRAINT [PK_TblVyages] PRIMARY KEY CLUSTERED 
(
	[voyageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
